---
import type { GetStaticPathsOptions, Page } from "astro";
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
// import Pagination from "../../components/Pagination.astro";
import PostPreview from "@components/PostPreview.astro";
import { isProd } from "@helpers/utils";
// import Subscribe from "../../components/Subscribe.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  // const posts = (await getCollection("blog")).sort(sortItemsByDateDesc);
  const posts = await getCollection("blog", ({ data }) => {
    return isProd ? data.draft !== true : true;
  });
  return paginate(posts, { pageSize: 4 });
}

type Props = { page: Page<CollectionEntry<"blog">> };

const { page } = Astro.props;
const blog = page.data;
---

<Layout>
  <h1
    class="my-12 text-2xl leading-tight font-header1 sm:my-16 sm:text-6xl text-center"
  >
    Blog Archive
  </h1>
  {blog.map((post) => <PostPreview post={post} class="mb-10 sm:mb-12" />)}
  <!-- <Pagination page={page} class="my-16 sm:my-24" /> -->
  <!-- <Subscribe class="my-16 sm:my-24" /> -->
</Layout>
