---
import "@styles/global.css";
import Header1 from "@components/Header1.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <div class="justify-center items-center flex mt-32">
    <Header1>404</Header1>
  </div>
</Layout>
