---
import { cn } from "@helpers/utils";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<p
  class={cn(
    "font-body1 font-medium text-dark-grey text-base leading-normal",
    className,
  )}
>
  <slot />
</p>
