---
import { cn } from "@helpers/utils";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<p class={cn("font-body1 font-normal text-[18px] leading-snug", className)}>
  <slot />
</p>
