---
import Link from "./Link.astro";
---

<footer
  class="flex flex-row items-center justify-center px-8 py-8 md:px-4 md:py-20 container h-12"
>
  <span class="text-sm font-medium text-dark-grey font-body2 leading-tight">
    © 2025 Flyer Labs Ltd
  </span>
</footer>
