---
import { cn } from "@helpers/utils";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<h1
  class={cn(
    "font-header1 font-semibold text-[72px] leading-[76px] text-black",
    className,
  )}
>
  <slot />
</h1>
