---
import Link from "./Link.astro";
import Logo from "./Logo.astro";
---

<div class="sticky top-0 backdrop-blur-md z-30">
  <header
    class="flex flex-row items-center justify-between mt-4 md:mt-6 lg:mt-8 container h-12"
  >
    <Logo />
    <nav class="flex flex-row gap-10">
      <Link href="/docs/flutter/introduction">docs</Link>
      <Link href="/blog">blog</Link>
      <Link target="_blank" href="https://github.com/flyerhq/flutter_chat_ui">
        github
      </Link>
    </nav>
  </header>
</div>
