---
import IconButton from "./IconButton.astro";
import Kbd from "./Kbd.astro";
import Link from "./Link.astro";
import LinkWithKbd from "./LinkWithKbd.astro";
import Logo from "./Logo.astro";
---

<div
  id="header-container"
  class="sticky top-0 backdrop-blur-lg z-30 bg-surface/75"
>
  <header
    class="flex flex-row items-center justify-between header-container h-12 my-8"
  >
    <Logo />
    <nav class="flex flex-row gap-6 items-center flex-1 ml-16">
      <LinkWithKbd href="/docs/flutter/introduction" kbd="D">Docs</LinkWithKbd>
      <LinkWithKbd href="/blog" kbd="B">Blog</LinkWithKbd>
    </nav>
    <nav class="flex flex-row gap-2 items-center">
      <IconButton
        href="https://github.com/flyerhq/flutter_chat_ui"
        type="secondary"
        class="w-10 p-3"
      >
        <img src="/icons/github.svg" alt="GitHub Icon" class="h-4 w-4" />
      </IconButton>
      <IconButton
        href="mailto:hello@flyer.chat"
        type="secondary"
        class="text-black"
        >Contact <Kbd>C</Kbd>
      </IconButton>
    </nav>
  </header>
</div>
<script>
  let header: HTMLElement | null;

  function handleScroll() {
    if (!header) return;
    if (window.scrollY > 0) {
      header.classList.add("border-b-divider", "border-b");
    } else {
      header.classList.remove("border-b-divider", "border-b");
    }
  }

  function setup() {
    header = document.getElementById("header-container");
    handleScroll();
    document.addEventListener("scroll", handleScroll, { passive: true });
  }

  // Run on initial page load
  setup();

  document.addEventListener("astro:before-swap", () => {
    document.removeEventListener("scroll", handleScroll);
  });

  // Run on subsequent page loads
  document.addEventListener("astro:after-swap", setup);
</script>
