---
import { cn } from "@helpers/utils";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<h1
  class={cn(
    "font-header1 font-normal text-[64px] md:text-[120px] leading-[72px] md:leading-[120px]",
    className,
  )}
>
  <slot />
</h1>
