---
import { cn } from "@helpers/utils";

interface Props {
  [propName: string]: any;
  class?: string;
  href: string;
  type?: "primary" | "secondary";
}

const { class: className, href, type = "primary", ...props } = Astro.props;
---

<a
  href={href}
  class={cn(
    "inline-flex font-mono text-[16px] leading-tight items-center justify-center gap-2 whitespace-nowrap rounded-[8px] text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 h-10 no-underline p-3",
    {
      "ring-offset-background bg-text-primary text-text-on-primary hover:bg-text-primary/90":
        type === "primary",
      "ring-offset-background bg-white border border-divider text-black hover:bg-text-white/90":
        type === "secondary",
    },
    className,
  )}
  {...props}
>
  <slot />
</a>
