---
import Button from "./Button.astro";
import Header2 from "./Header2.astro";
import Kbd from "./Kbd.astro";
import Section from "./Section.astro";
---

<Section last>
  <div class="flex flex-col md:flex-row justify-between items-center gap-3">
    <Header2>Start building chats today.</Header2>
    <div
      class="w-full md:w-auto flex flex-col md:flex-row gap-3 justify-center items-center"
    >
      <Button href="/docs/flutter/introduction" class="w-full md:w-auto">
        Start building <Kbd>S</Kbd>
      </Button>
      <Button
        href="mailto:hello@flyer.chat"
        type="secondary"
        class="w-full md:w-auto"
      >
        Contact us <Kbd>C</Kbd>
      </Button>
    </div>
  </div>
</Section>
