---
import { cn } from "@helpers/utils";

interface Props {
  href: string;
  class?: string;
  [propName: string]: any;
}

const { href, class: className, ...props } = Astro.props;
---

<a
  href={href}
  {...props}
  class={cn(
    "text-base font-medium font-body2 leading-tight uppercase text-black no-underline",
    className,
  )}
>
  <slot />
</a>
