---
import { cn } from "@helpers/utils";

interface Props {
  href: string;
  class?: string;
  [propName: string]: any;
}

const { href, class: className, ...props } = Astro.props;
---

<a
  href={href}
  {...props}
  class={cn(
    "text-sm font-medium font-mono leading-tight text-dark-grey no-underline hover:bg-primary",
    className,
  )}
>
  <slot />
</a>
