<a
  href="/"
  class="flex flex-row items-center justify-center gap-2 no-underline font-semibold text-[31px] text-black"
>
  <img src="/logo-dark.svg" class="h-8 w-8" alt="logo" />
  <span class="">flyer</span>
</a>
