---
import { cn } from "@helpers/utils";

interface Props {
  first?: boolean;
  class?: string;
  last?: boolean;
  noPadding?: boolean;
}

const {
  class: className = "",
  last = false,
  first = false,
  noPadding = false,
} = Astro.props;
---

<section
  class={cn(
    "border border-divider px-4 py-8 md:px-16 md:py-16 container",
    {
      "border-b": last,
      "border-b-0": !last,
    },
    {
      "border-t-0": first,
      "border-t": !first,
    },
    {
      "p-0": noPadding,
    },
    className,
  )}
>
  <slot />
</section>
