---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "../components/Footer.astro";
import KbdListeners from "@components/KbdListeners.astro";

import "@styles/global.css";

interface Props {
  children: any;
}
---

<html lang="en">
  <Head />
  <body class="flex flex-col h-screen bg-surface">
    <Header />
    <div class="flex flex-col grow container">
      <slot />
    </div>
    <Footer />
    <KbdListeners />
  </body>
</html>
