---
import Head from "@components/Head.astro";
import Navbar from "@components/Navbar.astro";
import Footer from "../components/Footer.astro";

import "@styles/global.css";

type Props = { children: any };
---

<html lang="en">
  <Head />
  <body class="flex flex-col h-screen bg-surface">
    <Navbar />
    <div class="flex flex-col grow container">
      <slot />
    </div>
    <Footer />
  </body>
</html>
